<div id="exercise">

</div>

<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <script src="https://unpkg.com/vue"></script>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="styles.css">


</head>

<body>
  <div id="app">
    <div id="endlabel">{{endLabel}}</div>
    <div id="healthbars">
      <div class="health">
        <div>Player Health: </div>
        <div :class="playerHP > 0 ? 'hpgrey' : 'hpdead'">
          <div v-show="playerHP" class="hpgreen" :style="{ width: playerHP * 3}">{{playerHP}}</div>
        </div>
      </div>
      <div class="health">
        <div>Monster Health:</div>
        <div :class="monsterHP > 0 ? 'hpgrey' : 'hpdead'">
          <div v-show="monsterHP" class="hpgreen" :style="{ width: monsterHP * 3}">{{monsterHP}}</div>
        </div>
      </div>

    </div>
    <div id="options">
      <template v-if="!gameOn">
        <button id="startgame" @click="startGame">Start Game</button>
      </template>
      <template v-if="gameOn">
        <button id="doAttack" @click="doAttack">Attack</button>
        <button id="doMagic" @click="doMagic">Magic</button>
        <button id="doHeal" @click="doHeal">Heal</button>
        <button id="reset" @click="startGame">Reset</button>
      </template>
    </div>
    <div id="log">
      <template  v-for="entry in log">
      <div :class="entry.char">{{entry.msg}}</div>
      </template>
    </div>
  </div>
</body>

<script src="./app.js"></script>

</html>